.admin-access {
	.form-holder {
		display: block;
    margin: auto;
    width: 40%;
    min-width: 300px;
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 100px;
	}
}