@font-face {
	font-family: openSans;
	scr: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: openSans-light;
	scr: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: openSans-Semibold;
	scr: url('fonts/Open_Sans/OpenSans-Semibold.ttf');
}



/* Bentham */

@font-face {
	font-family: Bentham-Regular;
	src: url('fonts/Bentham/Bentham-Regular.ttf');
}

@font-face {
	font-family: Arapey;
	src: url('fonts/Arapey/Arapey-Regular.ttf');
}

@font-face {
	font-family: Gilda_Display;
	src: url('fonts/Gilda_Display/GildaDisplay-Regular.ttf');
}