aside {
	nav {
		color: #333;
		ul > li {
			display: block;
			margin-bottom: 5px;
		}
	}
}

.vehicles-holder {
	font-family: monospace;
	display: flex;
	display: -webkit-flex;
  -webkit-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -webkit-flex-direction: row;
  height: auto;
  padding-bottom: 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  .item {
  	margin-bottom: 10px;

  	h2 {
  		font-size: 16px;
	    margin: 5px 0;
	    color: #666;
  	}
  	
  }

	img {
		max-width: 220px;
	}

	.tag-list > li {
		display: inline-block;
    font-size: 14px;
    color: #888;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    line-height: 0;
    padding: 10px;
    float: left;
    margin-right: 4px;
	}
	
}

.heading {
	  font-family: monospace;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 5px;
    width: 100%;
}
.heading, .heading a {
	display: inline-block;
	color: #696969;
}
.pagination-holder {
	.page-list > li {
		display: inline-block;
    margin-right: 4px;
    border: 1px solid #d4d4d4;
    padding: 0 10px;
    font-size: 16px;
    color: #999;
	}
}

